$grey-1: #f6f8fa;
$grey-2: #a7a9ab;
$grey-3: #808284;
$grey-4: #58585b;

$text-color: #222;

$font-size-base: 16px !default;

$font-size-xl: 1.5rem;
$font-size-lg: 1.25rem;
$font-size-md: 1rem;
$font-size-sm: .875rem;
$font-size-xs: .75rem;

$site-width: 80rem;
$margin-gap: 1rem;
$gutter: 1.5rem;

$breakpoint-xs: 640px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;

$border-radius: .5rem;
